body {
    font-family: 'Arial', 'Arial', monospace;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

a {
    padding: 15px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    margin-bottom: -5px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

#logo {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: bold;
}

.main, .footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #1F2937;
    color:#F9FAF8;
}

#mainimage {
    display: flex;
    height: auto;
    width:325px;
    margin-top: 25px;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 25px;
    
}

.main .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 25px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 225px;
    padding: 20px 50px;
}

.second img {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 25px;
}

.description {
    text-align: center;
}

.quoteshade {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 0px;
}

.margin {
    flex: 1 2 0
}

.margincenter {
    flex: 2 1 0
}

.margincenter{
    color: #1F2937
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 350;
    margin-bottom: 35px;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    padding: 10px;
    color:#F9FAF8;
    border-radius: 15px;
    border: 0px;
}
